<!DOCTYPE html><html><head><meta charset="utf-8"><link rel="stylesheet" href="style/css/styles.css" /></head><body><div class="container"><header><h1>Go-Securi</h1><style type="text/css">.container {color: black;}</style></header><section class="container"><div><h1 style="color : black">Agents</h1></div></section><section id="sidebar"><div class="navigation"><li>Berthier</li>
<li>Corinne</li>
<li>Surveillance</li>
<li>Entrepôt</li>
<li>pmNd1ldFE7WTk</li>
<li>kit</li>
<li>lampe</li>
<li>lacrymo</li>
<li>McClane</li>
<li>John</li>
<li>Surveillance</li>
<li>Parking</li>
<li>dfoij123JFFml</li>
<li>kit</li>
<li>lampe</li>
<li>lacrymo</li>
<li>West</li>
<li>Jerry</li>
<li>pmNd1ldFE7WTk</li>
<li>kit</li>
<li>lampe</li>
<li>lacrymo</li>
</ul>
</nav></section></div></body></html>