<!DOCTYPE html><html><head><meta charset="utf-8"><link rel="stylesheet" href="style/css/styles.css" /></head><body><div class="container"><header><h1>Go-Securi</h1><style type="text/css">.container {color: black;}</style></header><section class="container"><div><h1 style="color : black">Agents</h1></div></section><section id="sidebar"><div class="navigation"><nav>
<ul>
<li><a href='/Users/lucas/Projects/MSPR/go-securi/templates/cberthier.html'>cberthier</a></li>
<li><a href='/Users/lucas/Projects/MSPR/go-securi/templates/sconnor.html'>sconnor</a></li>
<li><a href='/Users/lucas/Projects/MSPR/go-securi/templates/jmacclane.html'>jmacclane</a></li>
<li><a href='/Users/lucas/Projects/MSPR/go-securi/templates/afoley.html'>afoley</a></li>
<li><a href='/Users/lucas/Projects/MSPR/go-securi/templates/mriggs.html'>mriggs</a></li>
<li><a href='/Users/lucas/Projects/MSPR/go-securi/templates/jwest.html'>jwest</a></li>
<li><a href='/Users/lucas/Projects/MSPR/go-securi/templates/sholmes.html'>sholmes</a></li>
<li><a href='/Users/lucas/Projects/MSPR/go-securi/templates/jrouletabille.html'>jrouletabille</a></li>
</ul>
</nav></section></div></body></html>