
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="style/css" href="styles.css" media=”screen” />
</head>
<body>
	<div id="container">
		<header>
			<title>Go-Securi</title>
			<h1>Go-Securi</h1>
			<h2>logo</h2>
			<img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t45.5328-0/c42.5.138.138a/p148x148/35962898_1728098643952421_3381248076478939136_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=c48759&_nc_ohc=SjQnjo4eQJMAX8gmNCq&_nc_ht=scontent-cdt1-1.xx&oh=ac446ab52a88e7f5d6f77ae4a73adadc&oe=616364E0" alt="logo">
			<nav>
				<ul>
				  <li><a class="active" href="#index">Home</a></li>
				  <li><a href="#news">News</a></li>
				  <li><a href="#contact">Contact</a></li>
				  <li><a href="#about">About</a></li>
				</ul>
			</nav>
		</header>
		<section>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis tempor turpis, eu vestibulum elit. Curabitur quis tellus mollis, malesuada velit ut, gravida orci. Suspendisse luctus feugiat massa, sit amet egestas orci posuere id. Aenean id euismod velit. Aenean dictum aliquet neque, sed cursus massa molestie sagittis. Nulla facilisi. Maecenas consectetur felis tincidunt odio sodales, at sodales mi cursus. Aliquam tincidunt tortor ut nisl sollicitudin, eget faucibus erat blandit. Mauris in odio eu erat tincidunt fringilla. Vestibulum cursus lectus ut porttitor consectetur.

			</p>
		</section>
	</div>

</body>
</html>
