<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>jmacclane</title>
	<h1>John McClane</h1>
</head>
<body>
<!DOCTYPE html>
<html>

<body>
	<nav>
		<div class="navbar">
			<ul>
			  <li><a class="active" href="index.html">Accueil</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div>
	  		<input type="checkbox" id="mousqueton" name="mousqueton">
	 			<label for="mousqueton">Mousqueton</label>
		</div>

		<div>
	  		<input type="checkbox" id="gants" name="gants">
	  			<label for="gants">Gants d’intervention</label>
		</div>
		<div>
	  		<input type="checkbox" id="brassard" name="brassard">
	 		 	<label for="brassard">Brassard de sécurité</label>
		</div>
		<div>
	  		<input type="checkbox" id="porte_menottes" name="porte_menottes">
	 			<label for="porte_menottes">Portes menottes</label>
		</div>
		<div>
	  		<input type="checkbox" id="bandeau_cyno" name="bandeau_cyno">
	  			<label for="bandeau_cyno">Bandeau agent de sécurité cynophile</label>
		</div>
		<div>
	  		<input type="checkbox" id="talkies" name="talkies">
	 		 	<label for="Talkies">Talkies walkies</label>
		</div>
		<div>
	  		<input type="checkbox" id="lampes" name="lampe">
	  			<label for="lampe">Lampe Torche</label>
		</div>
		<div>
	  		<input type="checkbox" id="kit" name="kit">
	  			<label for="kit">Kit oreillette</label>
		</div>
		<div>
	  		<input type="checkbox" id="tasers" name="tasers">
	  			<label for="tasers">Tasers</label>
		</div>
		<div>
	  		<input type="checkbox" id="bombes" name="bombes">
	  			<label for="bombes">Bombes lacrymogènes</label>
		</div>
	</div>
</body>
</html>